__pycache__/
.pytest_cache/
.vscode/
.idea/
*.pyc
*.pyo
*.pyd
*.log
.DS_Store
env/
.env
.venv/
venv/
reports/**/*.png
reports/**/*.csv
datasets/processed/*.csv
datasets/processed/steps/
models/*.joblib
models/meta.json
streamlit/*.log
